.video{
    margin-top: 55px;
    display: flex;
    padding: 30px 0px;
    justify-content: center;
    color: white;
    background-color: black;
}
.video-section{
    width: 100%;
    max-width: 875px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.youtube_video{
    width: 100%;
}
.video-play-yt{
    width: 100%;
    border-radius: 10px;
}
.video-about-yt{
    font-size: 20px;
    font-weight: 700;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.yt-profileblock{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}


.yt-left{
    display: flex;
    height: 35px;
    /* width: 35px; */
    cursor: pointer;
    object-fit: cover;
    gap: 10px;
    overflow: hidden;
}
.img-yt{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.yt-subview{
    display: flex;
    flex-direction: column;
}
.ytprofilename{
    font-weight: 500;
    font-size: 16px;
}
.ytprofilesubs{
    font-size: 14px;
    color: #AAAAAA;
}
.yt-subsbutton{
    background-color: white;
    color: black;
    padding: 0px 16px;
    border-radius: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    font-weight: 600;
    cursor: pointer;
    font-size: 14px;
    
}
.yt-right{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.block{
    display: flex;
    gap: 10px;
    background-color: #a5a5a538;
    justify-content: center;
    align-items: center;
    padding: 10px 12px;
    box-sizing: border-box;
    border-radius: 18px;
    cursor: pointer;
}
.yt-about{
    display: flex;
    gap: 6px;
    background-color: #a5a5a538;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px 12px;
    box-sizing: border-box;
    border-radius: 10px;
    cursor: pointer;
    flex-direction: column;
}
.yt-comment-title{
    font-size: 20px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}

.yt-user-comment{
    display: flex;
    gap: 5px;
    
}
.yt-user-comment{
    margin-top: 15px;

}
.img-logo{
    display: flex;
    height: 35px;
    /* width: 35px; */
    cursor: pointer;
    object-fit: cover;
    overflow: hidden;
}
.img-yt-comment{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.input-box{
    display: flex;
    flex-direction: column;
}
.input-comment{
    color: white;
    width: 100%;
    background: none;
    padding: 5px 0px;
    border: none;
    border-bottom: 1px solid white;
    &:focus{
       outline: none;
    }
}
.lower-box{
    display: flex;
    gap: 15px;
    justify-content: flex-end;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 8px;

}
.cancle{
    font-weight: 600;
}
.comment{
    /* border: 2px solid black; */
    padding: 10px 15px;
    background-color: rgb(33, 32, 32);
    color: rgb(147, 146, 146);
    font-size: 14px;
    border-radius: 20px;
}
.yt-all-comment{
    display: flex;
    gap: 20px;
    flex-direction: column;
    font-family:Arial, Helvetica, sans-serif ;
}
.yt-all-comment-section{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.yt-allcomment-logo{
    width: 35px;
    height: 35px;
}
.name-date{
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
}
.other-n-date{
    display: flex;
    gap: 10px;
    font-size: 15px;
    color: rgb(241, 240, 240);
}
.other-c-date{
    display: flex;
    gap: 10px;
    font-size: 12px;
    color: rgb(134, 132, 132);
}

.other-func-box{
    display: flex;
    gap: 10px;
    /* background-color: #a5a5a538; */
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    border-radius: 18px;
    cursor: pointer;
    font-size: 13px;
}





/* ..................suggetionpart starts from here......................... */

.video-suggetion{
    width: 100%;
    max-width: 400px;
    padding:10px 15px;
    gap: 15;
    row-gap: 10px;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: column;
}
.suggetion-block{
    display: flex;
    gap: 15px;
    cursor: pointer;
}
.video-thumbnail{
    width: 190px;
    height: 100px;
}
.video-thumbnail-img{
    width: inherit;
    height: inherit;
    border-radius: 10px;
}
.about-suggestion-title{
    font-size: 15px;
    font-weight: 500;
}
.suggetion{
    /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-size: 13px;
    font-weight: 300;
    color: rgb(168, 164, 164);
}
.suggetion-channel{
    gap: 5px;
    margin-top: 8px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.view-up_date{
    display: flex;
    gap: 8px;
}